                .links a:hover, a:visited, a:link, a:active
                {
                    text-decoration: none;
                }


                body {
                    margin: 0px;
                }
                nav {
                    margin-top: 25px;
                    padding: 0px;
                    text-align: center;
                    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
                }
                #nav-1 {

                }
                #nav-2 {
                    background: #5175C0;
                }
                #nav-3 {
                    background: #EEA200;
                }

                
                .link-3 {
                    transition: 0.4s;
                    color: #000;
                    font-size: medium;
                    font-weight: bold;
                    text-decoration: none;
                    padding: 0 10px;
                    margin: 0 10px;
                }
                .link-3:hover {
                    background-color: #CFE0F1;
                    color: #000;
                    text-decoration: none;
                    padding: 24px 10px;
                }

			

#ps3_monitor tr:nth-child(even) {
	background-color: #F2F2F2;
}
#ps3_monitor tr:nth-child(odd) {
    background-color: #D6E4F1;
}

#ps3_monitor td:nth-child(odd) {
    text-align: center;
    font-size: 150%;
    color: #3399AA;
	
}

#ps3_monitor  td:nth-child(even) {
    text-align: left;
	font-size: 130%;
}
	
#ps3_monitor table td {
width: 50%;
	

}

#ps3_monitor table, td, th {


    border-bottom: 1px solid #ddd;


	padding-left: 0px
}

#ps3_monitor table {
	table-layout:auto;
 border-collapse: collapse;
 width: 500px;
   
}

#ps3_monitor th {
    height: 100%;
}

#ps3_monitor {
    transform: scale(0.8);
}

}
.popup_visible #ps3_monitor {
    transform: scale(1);
}

                #poweroff{
                    transform: scale(0.8);
                }
                .popup_visible #poweroff {
                    transform: scale(1);
                }

                #reboot {
                    transform: scale(0.8);
                }
                .popup_visible #reboot {
                    transform: scale(1);
                }

                #unmount {
                    transform: scale(0.8);
                }
                .popup_visible #unmount {
                    transform: scale(1);
                }


#game_desc a:hover {
    text-decoration: underline;
	cursor: pointer;
}				

.games_stats b {
	color: #337AB7
}

.search_stats b {
	color: #337AB7
} 


				
.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}
